doctype html
html(ng-app='airman')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0')
    link(href='/icons/icons.css', rel='stylesheet', type='text/css')
    link(href='/index.css', rel='stylesheet', type='text/css')
  body(ng-controller="mainController")
    wrapper(ui-view="")
