* {
  display: block;
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  user-select: none !important;
  touch-action: none !important;
  -webkit-tap-highlight-color: rgba(255,255,255,0) !important;
}
body,
html {
  font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
  color: #fff;
  background-color: #1e1e1e;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
html {
  font-size: 12px;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  font-size: 1rem;
}
wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 240px;
  width: 320px;
  margin: 0;
  padding: 0;
}
